.hrefs{
 display: flex;
 justify-content: space-around;
 list-style: none;
 background-image: url("img/backgroundpic.png");
 border-radius: 10% / 50%;
 height: 15vh;
 width: 100vw;
 font-size: 3em;
 padding-top: 7vh;
}
#me,#cont{
 text-decoration: none;
 color: blue;
}

body{
 background-image: url("img/backgroundpic2.png");
 background-size: cover;
 background-repeat: no-repeat;
 background-attachment: scroll;
}
.favs{
 display: flex;
 justify-content: space-around;
 margin: 0;
 padding: 0;
 list-style: none;
}
#in,#ph,#en,#fb{
 padding-top: 10vh;
 color: blue;
 font-size: 5em;
}
#logo{
background-color: lightgrey;
height: 25vh;
width: 35vw;
border-radius: 10px 100px / 120px;;
padding-left: 3%;
padding-right: 3%;
}
